@model IdServer.Controllers.UI.RegisterViewModel
@using IdServer.Controllers.UI;
@{
    ColorsViewModel colorsModel = (ColorsViewModel)ViewData["ColorsViewModel"];
}

<input type="hidden" asp-for="Color1" value="@colorsModel.Color1" />
<input type="hidden" asp-for="Color2" value="@colorsModel.Color2" />
<input id="displayColor1" type="hidden" value="@colorsModel.DisplayColor1" />
<input id="displayColor2" type="hidden" value="@colorsModel.DisplayColor2" />
<div id="color-container" class="input-field">
    <div id="color-combination">
        <div id="color1">
            <div id="color2"></div>
        </div>
    </div>
</div>