<div *ngIf="room">
  <div class="row">
    <div class="col-md-2">
      <div class="container">
        <a href="/" class="btn btn-primary mb-2 back-button mdi mdi-arrow-left"></a>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container">
        <h2 class="title">{{ room.name }}</h2>
        <p class="text-center">{{ room.numberOfUsers }}/{{ room.capacity }}</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div id="output-window">
          <ul id="output" class="list-group list-group-flush" *ngFor="let msg of messages">
            <chat-message [user]="msg.user" [message]="msg.message"></chat-message>
          </ul>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="container input-container">
          <div class="input-group">
            <textarea [(ngModel)]="message" id="message" class="form-control input-md" rows="3" maxlength="120" minlength="1" placeholder="type your message here"></textarea>
            <div *ngIf="message; else elseBlock;">
              <button id="send" class="send-button mdi mdi-send" (click)="send()"></button>
            </div>
            <ng-template #elseBlock>
              <button class="btn empty-button"></button>
            </ng-template>
            <div id="word-counter">{{ message.length }}/120</div>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>
