#word-counter {
  position: absolute;
  font-size: 0.8em;
  color: grey;
  margin: auto;
  right: 0;
  bottom: 0;
  left: 0;
  width: 2em;
  height: 2em;
  z-index: 100;
}

#output-window {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #0b305b;
  background-color: rgb(255, 255, 255);
  border: 1px solid #0B305B;
  border-radius: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  list-style-type: none;
  height: 29rem;
  overflow-y: scroll;
}

#message {
  resize: none;
}

.input-md {
  border-radius: 0.4rem;
}


.top-container {
  margin-bottom: 5px;
}

.input-group .div {
  border-radius: 50% !important;
}

.empty-button {
  color: #CFE0BE;
  background-color: #CFE0BE;
  border-radius: 0 0.4rem 0.4rem 0 !important;
  border: 1px solid #0B305B;
  border-left: 0 solid;
  min-width: 4rem;
  width: 4rem;
}

.send-button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 1.4rem;
  color: #0B305B;
  background-color: #E18248;
  border-radius: 0 0.4rem 0.4rem 0 !important;
  border: 1px solid #0B305B;
  border-left: 0 solid;
  min-width: 4rem;
  width: 4rem;
  height: 100%;
}

.chat-line {
  word-wrap: break-word;
}

.empty-mid-row {
  height: 10px;
}

.back-button {
  border-radius: 50%;
}