<div class="room">
  <div *ngIf="room.owned; else elseBlock">
    <button class="room-button delete mdi mdi-delete" (click)="delete()"></button>
  </div>
  <ng-template #elseBlock>
    <div class="empty"></div>
  </ng-template>
  <div v-else class="button"></div>
  <div class="room-info">
    <span class="text">{{ room.name }}</span>
    <span class="users">
      <span class="mdi mdi-account-multiple"></span>
      {{ room.numberOfUsers }}/{{ room.capacity }}
    </span>
  </div>
  <span *ngIf="room.numberOfUsers < room.capacity" >
    <button class="room-button join mdi mdi-account-arrow-right" (click)="join()"></button>
  </span>
</div>